
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 480px;
    padding: 24px;
}

form button {
    margin-top: 10px;
    width: 100%;
}

